@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,600;9..40,700&family=Reem+Kufi:wght@400;500;600;700&family=Roboto:wght@300;400;500;700;900&display=swap");

:root {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
}

.wrapper .left {
  background: #fff;
  width: 20rem;
  padding: 0.63rem 0 0.63rem 1.88rem;
  height: 100vh;
  position: relative;
}

.logo {
  margin: 1.56rem;
  color: gray;
  font-weight: 600;
}

.group-names-wrapper {
  height: calc(100vh - 5.56rem);
  overflow: auto;
  margin-bottom: 1.56rem;
  background: #fff;
}

.group-name-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1.25rem;
  align-items: center;
  margin: 0.63rem 0;
  padding: 0.63rem;
  border-radius: 0.63rem;
}

.group-name-box.active {
  background: #2f2f2f17;
}

.group-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.notes-delete-icon .delete-icon,
.group-name-delete-icon .delete-icon {
  width: 20px;
}

.notes-delete-icon .delete-icon:hover,
.group-name-delete-icon .delete-icon:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.notes-delete-icon .delete-icon:active,
.group-name-delete-icon .delete-icon:active {
  transform: scale(0.9);
}

.group-name-icon {
  text-transform: uppercase;
  color: #fff;
  background: deeppink;
  border-radius: 50%;
  width: 3.2rem;
  height: 3.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-group-icon {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  bottom: 1.25rem;
  right: 1.25rem;
}

.add-group-icon button {
  width: 3.75rem;
  height: 3.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #16008b;
  border-radius: 50%;
  font-size: 3.13rem;
  color: #fff;
  border: none;
}

.add-group-icon button:active {
  background: #1111aa;
}

/* Modal */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
}

.modal {
  width: 25rem;
  background: white;
  padding: 1.25rem;
  border-radius: 0.31rem;
  box-shadow: 0 0 0.63rem rgba(0, 0, 0, 0.3);
}

.modal-content label {
  color: #000;
  font-weight: bold;
  font-size: 0.88rem;
}

.modal-content input {
  padding: 0.31rem 0.63rem;
  border: 0.06rem solid gray;
  outline: 0.06rem solid gray;
  border-radius: 0.94rem;
  width: 70%;
}

.input-group {
  display: flex;
  gap: 1.25rem;
  align-items: center;
  margin-bottom: 0.63rem;
}

.modal-content h4 {
  margin-bottom: 0.94rem;
}

.choose-color {
  display: flex;
  align-items: center;
}

.choose-color .color-box {
  width: 1.56rem;
  height: 1.56rem;
  border-radius: 50%;
  display: inline-block;
  margin: 0 0.19rem;
  cursor: pointer;
}

.choose-color .color-box:active {
  border: 0.13rem solid #fff;
}

.choose-color .color-box.selected {
  border: 2px solid #3d3d3d;
}

.create-btn {
  display: flex;
  justify-content: flex-end;
}

.create-btn button {
  padding: 0.6em 1em;
  background: #001f8b;
  color: #fff;
  border: none;
  border-radius: 0.31rem;
  margin-top: 0.63rem;
  cursor: pointer;
}

.create-btn button:active {
  background: #1111aa;
}

/* Right */

.right {
  width: calc(100% - 20rem);
  background: #dae5f5;
  padding: 0.63rem 1.88rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.right .home-wrapper img {
  width: 50%;
}

.right .home-wrapper h1 {
  margin-bottom: 1.25rem;
}

.right .home-wrapper p {
  color: #292929;
}

.home-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.63rem;
  position: absolute;
  bottom: 1.56rem;
}

@media only screen and (max-width: 499px) {
  .wrapper {
    flex-direction: column-reverse;
    background: rebeccapurple;
  }

  .wrapper .left {
    width: 100%;
    height: 45vh;
    padding: 0.63rem 1.88rem;
  }

  .notes-container,
  .right {
    width: 100%;
    height: 45vh;
  }

  .notes-wrapper {
    height: 24.7vh;
  }

  .notes-footer button {
    right: 15%;
  }

  .group-names-wrapper {
    height: 32vh;
  }

  .notes-footer {
    height: 100px;
  }
}
